.Main-Container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: black;
    color: azure;
    height: 700vh;
}


.Container1{
    /* border: 1px solid rgb(165, 44, 44); */
    text-align: center;
    height: 10%;
    padding-bottom: 0%;
}


.Container1-SubDiv1-Buttons{
    /* border: 1px solid rgb(186, 135, 135); */
    display: flex;
    gap: 6%;
    text-align: center;
   padding-left: 36%;
}


.btn{
  padding:15px 40px ;  
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}


.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    border-radius: 10px;

}


.btn::before{
    content: "";
    background: linear-gradient(
        50deg,
        #00ffd5,#002bff,#ff00c8,#00ffd5,
        #002bff,#ff00c8,#00ffd5,
        #002bff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}


@keyframes glowing{
0%{background-position: 0 0;}
50%{background-position: 400% 0;}
100%{background-position: 0 0;}
}

.btn:hover::before{
    opacity: 1;
}


.btn:active::after{
    background: transparent;
}


.btn:active{
    color: #000;
    font-weight: bold;
}


.Container1-SubDiv2-Paragraph{
    border: 1px solid rgb(78, 13, 13);
}


.Container2{
    /* border: 1px solid rgb(186, 135, 135); */
    text-align: center;
    padding-top: 0%;
    gap: 10px;
    height: 20%;
}


.Container2img{
    /* border: 1px solid rgb(186, 135, 135); */
    padding: 3%;
   height: 50%;
   padding-right: 6%;
   padding-left: 6%;
   padding-bottom:0% ;
}


.Container3{
     /* border: 1px solid rgb(41, 192, 73); */
     display: flex;
     flex-direction: row;
     height: 10%;
     gap: 5%;
     padding-left: 9%;
     padding-right: 9%;
}


.Container3-SubDiv1-changeItUp,
.Container3-SubDiv2-Shareable{
    /* border: 1px solid rgb(186, 135, 135); */
    display: flex;
    background-color: #20252fd3;
    flex-direction: row;
    width: 50%;
    border-radius: 5%;

}


.Container3-SubDiv1-changeItUp-Image,
.Container3-SubDiv1-Shareable-Image{
    height: 100%;
    width: 80%;
}

.Container3-SubDiv1-changeItUp-Paragraph,
.Container3-SubDiv1-Shareable-Paragraph{
    padding: 2%;
}


.Container4{
     /* border: 1px solid rgb(41, 192, 73); */
    height: 9%;
    text-align: center;
}


.Container4-SubDiv2-Image{
    /* border: 1px solid rgb(41, 192, 73); */
    padding: 3%;
    padding-left: 9%;
    padding-right: 9%;
}

.Container5,
.Container6,
.Container7,
.Container8{
     /* border: 1px solid rgb(41, 192, 73); */
     display: flex;
     flex-direction: row;
     height: 100%;
}

.Container5-SubDiv1-ArtWork,
.Container5-SubDiv3-Typography ,
.Container5-SubDiv5-Interface ,
.Container5-SubDiv7-Settings{
    /* border: 1px solid rgb(103, 185, 229); */
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 6%;
    font-size: larger;
    height: 55%;
   
} 


.Container5-SubDiv2-ArtWork-Image
{
    height: 55%;
    padding: 4%;
    width: 50%;
    text-align: center;
    /* border: 1px solid rgb(64, 88, 100); */
    
    
}
.Container5-SubDiv4-Typography-Image{
    /* border: 1px solid rgb(72, 5, 230); */
    padding: 4%;
    height: 63%;

}


.Container5-SubDiv6-Interface-Image{
     /* border: 1px solid rgb(72, 5, 230); */
     padding: 4%;
     height: 63%;
}

.Container5-SubDiv8-Settings-Image{
    /* border: 1px solid rgb(72, 5, 230); */
    padding: 4%;
    height: 60%;
}

.Container5-1{
    display: flex;
    flex-direction: column;
    height: 400vh;
}

.Container9{
    text-align: center;
    height: 10%;
}

